* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */
header {
    height: 120px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}
header img {
    vertical-align: middle;
    height: 80px;
}

header h1 {
    vertical-align: middle;
    font-size: 4rem;  
    font-weight: 700;
    display: inline-block;
    margin-left: 10px;
    }

/* /header */

/* varie corpo */
#corpo {
    background-color: rgba(246,248,249,255);
    width: 100vw;
    height: fit-content;
    padding: 60px;
    padding-bottom: 10px;
}    

#contenitore {
    width: 60vw;
    margin: auto;
}

.testata {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2px;
}

.lista {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.whiteback {
    background-color: white;
    width: 60vw;
    padding-left: 50px; 
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    padding:5px;
    font-size: 1rem;
    margin-right: 5px;
}

#task {
    background-color: rgba(71,173,241,255);
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(71,173,241,255);
}

#section {
    color: rgba(210,210,210,255);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(210,210,210,255);
}

.triangle {
    vertical-align: middle;
    font-size: 12px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 40px;
}

/* /varie corpo */


/* simboli, caselle e liste */
.yesno {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 5px;
    font-size: 10px;
}

.check {
    border: 1px solid #6cc4ae;
    color: #6cc4ae;
}

.cross {
    color: red;
    border: 1px solid red;
}

ul {
    margin-bottom: 30px;
    margin-top: 10px;
}
li {
    list-style: none;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.box {
    color:white;
    border-radius: 15px;
    border-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    font-size: 10px;
}

.bluebox {
    background-color: rgba(71,173,241,255);
}

.purplebox {
    background-color: rgba(156,114,228,255);
}

.greenbox {
    background-color: rgba(100,192,169,255);
}

.orangebox {
    background-color: rgba(242,158,51,255);
}

.fucsiabox {
    background-color: #d863a1;
}

.senapebox {
    background-color: rgba(176,201,38,255);
}
/* /simboli, caselle e liste */